app = "vibezone-backend"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "8080"
  REDIS_URL = "rediss://default:AVzXAAIjcDE1YjkyOTJmYTI2MDE0Y2FiOTE3ZWUzZjI2OTFjMjVmYnAxMA@grateful-walleye-23767.upstash.io:6379"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["web"]

[mounts]
  source = "pg_data_singapore"
  destination = "/data"

[processes]
  web = "daphne core.asgi:application"

[[vm]]
  size = "performance-1x"  # 2GB RAM
